body {
    background-color: lightgray;
}

.bar-container {
    width: 200px;
    height: 30px;
    margin: 40px;
    background-color: gray;
}

.bar {
    background-color: green;
    height: 100%;
    width: 0%;
}